* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 300px;
  background-color: rgb(3, 220, 220);
  padding: 12px;
  display: flex;
  flex-direction: column;
  border: 4px solid rgb(103, 26, 26);
  border-radius: 8px;
}

.screen {
  width: 100%;
  height: 20%;
  font-size: 1.2rem;
  background: bisque;
  border: 4px solid rgb(103, 26, 26);
  border-radius: 8px;
  padding: 10px 5px;
  margin-bottom: 8px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: blue;
  background-color: bisque;
  font-size: 1.2rem;
  border: 4px solid rgb(103, 26, 26);
  border-radius: 8px;
  margin: 2px;
  cursor: pointer;
}